.comp-text-ondo-b {
	font-family: OndoB;
	font-weight: 700;
	color: inherit;
	text-align: inherit;
	text-transform: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-decoration: inherit;
	text-shadow: inherit;
}
.comp-text-ondo-b-1 {
	font-size: 20px;
}
.comp-text-ondo-b-2 {
	font-size: 28px;
}
.comp-text-ondo-b-3 {
	font-size: 30px;
}
.comp-text-ondo-b-4 {
	font-size: 48px;
}
.comp-text-ondo-b-5 {
	font-size: 66px;
}
